
* {
  box-sizing: border-box;
  text-align: center;
}

/****background****/
.img-src {
  position: fixed;
  background-position: center;
  -webkit-background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.blurred-img {
  opacity: 0;
}


/*header links


sticky buttons?!*/
.navigation {
  padding-top: 20px;
  padding-bottom: 20px;

}

a:visited,
a:link,
.open-button {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  cursor: pointer;
  margin: 0 20px
}


/**text containers*/
.article-container {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.article {
  width: 75%;
  height: 2000px;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 1;
  margin: 0 auto;


}

/* The popup form - hidden by default
*/

#relative-layer {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  z-index: 10;
}

.form-popup {
  display: none;
  margin: auto;
}

/* Form container styles */

.form-container {
  background-color: white;
  width: 40%;
  border-radius: 10px;
  position:fixed;
  top: 120px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* Full-width input fields */
.form-container input[type=text],
#message {
  padding: 15px;
  border: none;
  background: #f1f1f1;
}

#message {
  width: 90%;
  margin: 20px auto;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #eeeeee;
  outline: none;
}

/* Button Stylihng*/
.form-container .btn {
  background-color: rgb(177, 181, 223);
  color: black;
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 10px;
}

.form-container .cancel {
  background-color: darkgray;
  color: black;
}

/* Hover effects for the buttons */
.form-container .btn:hover {
  color: black;
  opacity: 0.5;
}